@charset "UTF-8";

#test1 > p:only-child {
    background-color: rgb(54, 145, 177);
}

#test2 > p:only-of-type {
    background-color: rgb(9, 61, 80);
}

#test3 > p:empty {
    background-color: forestgreen;
}

#test4-1, #test4-2, .test4-3 {
    background-color: yellowgreen;
}

#test5-1 .c5 {
    background-color: turquoise;
}

#test5-2 > li.c5 {
    background-color: violet;
}

.test6.c6{
    background-color: aquamarine;
}