@charset "UTF-8";

#color-ul {
    font-weight: bold;
    font-size: 20px;
}

#color-ul > li:nth-child(1){
    color: blue;
}

#color-ul > li:nth-child(2){
    color: #343482;
}

#color-ul > li:nth-child(3){
    color: rgb(50, 100, 150);
}

#color-ul > li:nth-child(4){
    color: rgba(50, 100, 150, 0.3);
}

#color-ul > li:nth-child(5){
    color : hsl(360, 100%, 50%);
}

#color-ul > li:nth-child(6){
    color : hsla(360, 100%, 50%, 0.5);
}

#deco-ul > li:nth-child(1){
    text-decoration: underline;
}

#deco-ul > li:nth-child(2){
    text-decoration: line-through;
}

#deco-ul > li:nth-child(3){
    text-decoration: overline;
}

#deco-ul > li:nth-child(4) > a {
    text-decoration: none;
}
#align-test {
    width: 550px;
    border: 2px solid black;
}

#align-test > p:nth-child(1){
    text-align: left;
}

#align-test > p:nth-child(2){
    text-align: right;
}

#align-test > p:nth-child(3){
    text-align: center;
}

#align-test > p:nth-child(4){
    text-align: justify;
}

#line-test > p:nth-child(2){
    line-height: 30px;
}

#center-test {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    text-align: center;
}

#center-test > span {
    line-height: 200px;
}

#letter-test {
    letter-spacing: 20px;
}

#shadow-test {
    background-color: black;
    padding: 30px;
}

#shadow-test > p{
    font-size: 75px;
    font-weight: bold;
}

#shadow-test p:nth-child(1){
    color: orange;
    text-shadow: 3px 3px white;
}

#shadow-test p:nth-child(2){
    color: white;
    text-shadow: 5px 5px 5px #bbb;
}

#shadow-test p:nth-child(3){
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 10px magenta;
}

#shadow-test p:nth-child(4){
    text-shadow: 0px 0px 4px #ccc,
    0px -5px 4px #ff3,
    2px -10px 6px #fd3,
    -2px -15px 11px #f80,
    2px -20px 18px #f20;
}