@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 1140px;
}

header {
    height: 200px;
    display: flex;
}

header > section:nth-of-type(1),
header > section:nth-of-type(3)
{
    flex-basis: 15%;
}

header > section:nth-of-type(1),
header > section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#home-logo {
    width: 120px;
}

.main_title {
    flex-basis: 70%;
}

.search-area {
    width: 500px;
}

.search-area fieldset{
    height: 45px;
    border: 3px solid #455ba8;
    border-radius: 5px;
    padding: 2px;
    display: flex;
}

.search {
    flex-basis: 92%;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: none;
}

#search-btn {
    font-size: 20px;
    flex-basis: 8%;
    background:none;
    color: #455ba8;
    line-height: 34px;
    border: none;
    cursor: pointer;
}

.main_menu {
    list-style: none;
    display: flex;
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid black;
}

.main_menu li {
    flex-basis: 150px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.main_menu a {
    display: block;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s;
}

.main_menu a:hover{
    color: white;
    background-color: black;
}


.content{
    display: flex;
}

.content1-1{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content-item {
    width: 90%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

.content-item > div > div{
    width: 100%;
    height: 200px;
}

.content-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-item a{
    color: black;
    text-decoration: none;
}

.content-item p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.content1-2{
    flex-basis: 30%;
}

footer{
    height: 100px;
    text-align: center;
    font-weight: bold;
    background-color: aqua;
    line-height: 100px;
}