@charset "UTF-8";

* {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    color: white;
}

body {
    width: 800px;
    background-color: rgb(0, 0, 0);
}

header {
    width: 100%;
    height: 100px;
}
    
footer{
    float: left;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    line-height: 50px;
}

.main{
    float: left;
    width: 100%;
    height: 1230px;
}

.bomb{float: left;}

ul > li {
float: left;
display: inline-block;
width: 100px;
position: relative;
}

ul > li > ul{ 
    position: absolute;
    display: none;
    background-color: black;
}

ul > li:hover > ul{
    float: left;
    display: block;
}
