@charset "UTF-8";

.container-1{
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px dashed red;
}

.first{
    position : absolute;
    width: 300px;
    height: 300px;
    background-color: yellow;
}

.second{
    position : absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background-color: green;
}

.third{
    position : absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
}

.container-2{
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

#center{
    position : absolute;
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    border: 2px solid black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.fixed-area{
    position: fixed;
    right: 50px;
    bottom: 50px;
    border: 1px solid black;
    width: 120px;
    background-color: yellow;
}

.fixed-area > a{
    color: black;
    text-decoration: none;
}

.fixed-area > a:visited{
    color: red;
}