@charset "UTF-8";

/*전체영역*/
*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    
    background-image: url(/04_webfront/images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    width: 1640px;
}

/*헤더영역*/
header {
    height: 650px;
    display: flex;
    background-image: url(/04_webfront/images/main-banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

header > section{
    height: 100px;
}

.logo-area{
    flex-basis: 10%;
}

.top-menu-area{
    flex-basis: 60%;
}

.right-menu-area{
    flex-basis: 27%;
}

.menu {
    height: 100%;
    display: flex;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
    line-height: 100px;
}

.top-menu-area li{
    margin: 0;
    margin-right: 30px;
}

.right-menu-area li{
    margin: 0;
    margin-left: 25px;
}

.profile-img {
    margin-top: 20px;
    margin-right: -20px;
}

.fa-magnifying-glass, .fa-bell{
    font-size: 30px !important; 
}

.fa-chevron-down{
    font-weight: bold;
}

/*메인영역*/
.main-banner {
    height: 800px;
}

.main-banner h2 {
    margin-top: 10px;
    color: white;
    margin-bottom: 10px;
}

.sumnail img{
    width: 269.5px;
    height: 130px;
}

/*푸터영역*/
footer{
    height: 360px;
    display: flex;
}

footer > ul {
    flex-basis: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

footer li{
    display: flex;
}


.fa-instagram, .fa-square-facebook, .fa-youtube, .fa-twitter{
    font-size: 40px;
    padding: 40px;
}
footer > ul > li > a {
    width: 410px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}